.flashcard {
  width: 100%;
  max-width: 455px;
  text-align: center;
  cursor: pointer;
  padding: 15px 20px;
  border-radius: 10px;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  border: 3px solid transparent;
}

.flashcard-question {
  background-color: #54c670ff;
  border-color: transparent;
}

.flashcard-answer {
  background-color: #54a4c6ff;
  border-color: #2196f3;
}

.flashcard:active {
  transform: scale(0.95);
}

.flashcard-text {
  font-size: 1.5rem;
  transition: all 0.4s ease;
  margin: 0;
}

.flashcard-text-question {
  color: #2e7d32;
}

.flashcard-text-answer {
  color: #1976d2;
}
